<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CTBRPricer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CTBRPricer.Properties.Settings>
      <setting name="SpecialConnectionString" serializeAs="String">
        <value>Data Source=M123\SQLSERVER2014;Initial Catalog=MarketData;Integrated Security=True;</value>
      </setting>
    </CTBRPricer.Properties.Settings>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DB_CONNECTION" connectionString="Data Source=M123\SQLSERVER2014;Initial Catalog=VFPAnalysis;Integrated Security=True;"/>
    <add name="SpecialConnectionString" connectionString="data source=M123\SQLSERVER2014;persist security info=True;Initial Catalog=MarketData;user id=MarketData;password=mdata"/>
  </connectionStrings>
  <appSettings>
    <add key="PJX_PATH" value="C:\Comptagest\WCP.pjx"/>
  </appSettings>
</configuration>