<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    
    <add name="DATABASE_ONE" connectionString="Provider=VFPOLEDB.1;Data Source=C:\Comptagest\02\02WCP.DBC;"/> <!--deleted=false-->
    <!--<add name="DATABASE_ONE" connectionString="Provider=VFPOLEDB.1;Data Source=C:\Comptagest\CTBR;"/>-->
    
    <!--<add name="DATABASE_ONE" connectionString="Provider=VFPOLEDB.1;Data Source=C:\Users\manand\Desktop\DBF\01-New\"/>-->
    <!--<add name="DATABASE_ONE" connectionString="Provider=VFPOLEDB.1;Data Source=C:\Comptagest\DATA\WCPDATA.DBC;"/>-->

    <!--<add name="DATABASE_TWO" connectionString="Data Source=192.168.1.211;Initial Catalog=02WCP;uid=sa;pwd=M!gr@te2Net"/>-->
    <!--<add name="DATABASE_TWO" connectionString="Data Source=192.168.1.211;Initial Catalog=WCPDATA;uid=sa;pwd=M!gr@te2Net"/>-->
    <add name="DATABASE_TWO" connectionString="Data Source=M123\SQLSERVER2014;Initial Catalog=02WCP;Integrated Security=True;"/>
    <!--<add name="DATABASE_TWO" connectionString="Data Source=M123\SQLSERVER2014;Initial Catalog=ToClient02WCP;Integrated Security=True;"/>-->


    <!--<add name="DATABASE_TWO" connectionString="Provider=VFPOLEDB.1;Data Source=C:\Users\manand\Desktop\DBF\"/>-->
  </connectionStrings>
  <appSettings>
    <add key="DATABASE_ONE_TYPE" value="DBF"/>
    <add key="DATABASE_TWO_TYPE" value="SQL"/>
    <!--<add key="DATABASE_TWO_TYPE" value="DBF"/>-->
    <add key="TRIMSPACES" value="True"/>

    <!--FORMAT DD-MMM-YYYY 00:00:00-->
    <add key="NULL_DATE_VALUES" value="30-DEC-1899 12:00:00 AM;01-JAN-1900 12:00:00 AM"/>
    <!--<add key="NULL_DATE_VALUES" value="12/30/1899 12:00:00 AM;01/01/1900 12:00:00 AM"/>-->
  </appSettings>
</configuration>